# Игнорирование папки node_modules
node_modules/

# Игнорирование виртуальной среды (для Python)
venv/
.env

# Игнорирование конфигурационных файлов
config.json

# Игнорирование логов и временных файлов
*.log
*.tmp
.DS_Store
config/database.db
config/database.js